body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.select-width{
	width:180px;
}

select option {
    background: #FFF;
    color:#000;
    margin:40px;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

h1.ui.header{
	margin-top: 100px !important;
	text-align: center; 
}

#answer{
	color: #929292;
	font-family: "Helvetica", serif;
	font-size: 2rem;
	text-align: center;
	margin-top: 100px;
}

@media only screen and (min-width: 992px){

	.ui.selection.dropdown .menu{
		max-height: 30.17142857rem;
	}
}

.ui.dropdown .menu > .item:hover{
	background: rgba(0, 0, 0, 0.1);
}